@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
    background: #000;
}

.content{
    position: relative;
}

.content h2{
    position: absolute;
    /* color: #fff; */
    transform: translate(-50%, 50%);
    font-size: 8em;
}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2){
    color: #03a9f4;
animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
clip-path: polygon(11% 44%, 28% 43%, 43% 53%, 57% 62%, 75% 65%, 88% 63%, 100% 55%, 99% 99%, 0% 100%, 0 51%);
    }
    50%{
clip-path: polygon(10% 50%, 24% 55%, 43% 53%, 57% 47%, 69% 37%, 87% 35%, 100% 39%, 99% 99%, 0% 100%, 0 44%);

    }
}